



<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">


        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected "><a href="{% url 'home' %}" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item pure-menu-selected "><a href="{% url 'randomizer' %}" class="pure-menu-link">Randomizer</a></li>

        </ul>
        <a class="pure-menu-heading" style="float: right" href=" {% url 'profile' %}">Profile</a>
    </div>
</div>
<br />